<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>MySqlStudents</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>MySqlTest</display-name>
    <servlet-name>MySqlTest</servlet-name>
    <servlet-class>com.github.jcpp.mysql.MySqlTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MySqlTest</servlet-name>
    <url-pattern>/mysqltest</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>dbDriver</param-name>
    <param-value>com.mysql.jdbc.Driver</param-value>
  </context-param>
  <context-param>
    <param-name>dbURI</param-name>
    <param-value>jdbc:mysql://localhost/university</param-value>
  </context-param>
  <context-param>
    <param-name>dbUser</param-name>
    <param-value>root</param-value>
  </context-param>
  <context-param>
    <param-name>dbPassword</param-name>
    <param-value></param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>Index</display-name>
    <servlet-name>Index</servlet-name>
    <servlet-class>com.github.jcpp.mysql.Index</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Index</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InserimentoStudent</display-name>
    <servlet-name>InserimentoStudent</servlet-name>
    <servlet-class>com.github.jcpp.mysql.InserimentoStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InserimentoStudent</servlet-name>
    <url-pattern>/inserimentoStudent</url-pattern>
  </servlet-mapping>
</web-app>